<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人简历</title>
</head>
<body>
<h1>李易峰简历</h1>
<hr>
<h3>个人信息</h3>
<table border="0">
    <tr>
        <td>姓名：李易峰</td>
    </tr>
    <tr>
        <td>年龄：34</td>
    </tr>
    <tr>
        <td>学校：四川师范大学</td>
    </tr>
    <tr>
        <td>专业：播音主持</td>
    </tr>
    <tr>
        <td>参演电视剧：古剑奇谭，隐秘而伟大</td>
    </tr>
    <tr>
        <td>参演电影：栀子花开</td>
    </tr>
</table>
<hr>
<h3>专业技能</h3>
<ul>
    <li>精通表演</li>
    <li>精通唱歌</li>
    <li>精通播音</li>
</ul>
<hr>
<h3>项目经历
    <div>
        <h6>项目名称</h6>
        <h6>项目简介：xxx</h6>
        <h6>开发环境：</h6>
        <h6></h6>
        <ul>
            <li>使用了很多的演技</li>
        </ul>
    </div>
</body>
</html>